<!-- TOP SECTION-->
<section id="top-section">
  <!-- START HEADER headertop -->
  <div class="headertop needhead">
    <!-- BLURED BACKGROUND-->
    <div class="action-banner-bg"></div>
    <!-- END BLURED BACKGROUND-->

    <!-- PIXEL BG DOTTS UNDER BLURED BACKGROUND-->
    <div class="action-banner-bg-top"></div>
    <!-- END PIXEL BG DOTTS UNDER BLURED BACKGROUND-->

    <%= partial "main_nav" %>

    <%= partial "hero_slider" %>

    <%= partial "header_social_panel" %>

  </div><!-- END HEADER headertop -->
</section>
<!--/ TOP SECTION-->

